.main-box {
    display: inline-block;
    background-color: #E74C3C;
    box-shadow: 10px 10px 0 #0c0c0c;
    text-align: center;
    padding: 42px 44px;
}

.main-box .main-title {
    margin-bottom: 28px;
}