.main-card {
    position: relative;
    height: 245px;
    width: 230px;
    margin: 5px;
    perspective: 1000px;
    margin-right: 30px;
    margin-left: 15px;
}

.main-card:hover .flip {
    transform: rotateY(180deg);
}

.main-card .flip {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}