.main-title {
    font-family: "Fira Code", sans-serif;
    font-size: 40px;
    color: #505D66;
    text-shadow: 4px 4px 0 black;
}

.main-title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
    font-size: 40px;
    font-family: "Fira Code", sans-serif;
}
